@charset "UTF-8";

html {
	background-color: rgb(183, 135, 250);
	font-family: 'Inter', sans-serif;
	color: black;
}

body {
	margin: 0 auto;
	min-width: 768px;
	max-width: 1024px;
}

header {
	font-size: 2rem;
}


header nav ul {
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
}

header nav li {
	display: inline-block;	
}

/* Set all A elements (links) to display: block in the below rule */
header nav a {
	display: block;
}

/* Position the parent LI to 'relative' so we can position the 2nd-level UL for drop menus */
header nav ul li {
	position: relative;
}

/*Build a rule below to position the 2nd-level UL elements 'absolute', then hide them off the page with left: -9999px */
header nav ul ul {
	position: absolute;
	width: 15em;
}

header nav ul ul li:hover {
	left: auto;
}

header nav a:link {
	padding: 0.5em;
	text-decoration: none;
	color: black;
}

/* Set the visited styles - color: blue */
header nav a:visited {
	color: rgb(33, 4, 253);
}

/*  Set the focus styles - background-color: light yellow */
header nav a:focus {
	background-color: rgb(198, 244, 138);
}

/* Set the hover styles - background-color: white, and color: pink */
header nav a:hover {
	background-color: rgb(255, 255, 255);
	color: rgb(199, 44, 132);
}

/* Set the active styles - color: blue and background-color: light pink*/
header nav a:active {
	color: rgb(81, 255, 246);
	background-color: rgb(215, 131, 166);
}

main {
	font-size: 1.5rem;
	line-height: 1.5;
	text-align: justify;
	background-color: white;
}

#views {
	background-color: rgb(253, 255, 147);
}

#support {
	background-color: rgb(150, 255, 150);
}

#beauty {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

footer {
	margin-top: 2rem;
	font-size: 1.6rem;
}

footer p {
	text-align: center;
}